<style>
    .error {
        color: red;
    }
</style>
@Html.AntiForgeryToken()
<div class="page-body">
    <!-- breadcrumb section -->
    <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap gap-3">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!" title="Home"><i class="bi bi-house"></i></a></li>
                <li class="breadcrumb-item"><a href="#" title="Master"> Master </a></li>
                <li class="breadcrumb-item active" title="Project Type" aria-current="page"> Project Category </li>
            </ul>
        </nav>
        <div class="col-right">
            <button type="button" class="btn btn-primary btn-sm me-3" title="Add" onclick="Add_M_Project_Category_Master()">
                <i class="bi bi-plus-circle me-1"></i> Add
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm" title="Delete" data-bs-toggle="tooltip" onclick="Delete_M_Project_Category_Master()"> <i class="bi bi-trash"></i> </button>
            @*<button type="button" class="btn btn-outline-success btn-sm" title="Excel" data-bs-toggle="tooltip">
                <i class="buidcoicon-excel"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm" title="Print Preview"
                    data-bs-toggle="tooltip">
                <i class="bi bi-printer"></i>
            </button>*@
        </div>
    </div>
    <!-- breadcrumb section -->
    <!-- inner body section -->
    <div class="body__content">
        <div class="body__bg">
            <div class="table__fixed">
                <div class="table-responsive border">
                    <table id="tbl" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:5%">
                                    <div class="form-check">
                                        <input class="form-check-input checkbox" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                </th>
                                <th style="display:none"></th>
                                <th style="width:5%"> Sl# </th>
                                <th style="width:30%"> Project Category </th>
                                <th style="width:40%"> Description </th>
                                <th style="width:10%"> Edit </th>
                            </tr>
                        </thead>
                        <tbody id="tblbody">
                            @*<tr>
                            <td>
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                            </td>
                            <td> 1 </td>
                            <td> Project </td>
                            <td> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet ex at magna dignissim, congue laoreet eros porttitor </td>
                            <td>
                            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" title="Edit">
                            <i class="bi bi-pencil"></i>
                            </button>
                            </td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- add project type Modal -->
    <div class="modal fade right custom-view-modal-medium" id="addProjecttype" tabindex="-1">
         <div class="modal-dialog modal-md custom-modal modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Add Project Category </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
                             <label class="control-label" for="txtProjectType">Project Category <span class="text-danger">*</span></label>
                            <div class="form-group">
                                <input type="text" id="categoryName" name="categoryName" placeholder="" maxlength="50" class="form-control" autocomplete="off" onkeypress="lettersDigitValidate(event)">
                               <input id="hdncategoryId" type="hidden" value="0" />
                            </div>
                         </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
                            <label class="control-label" for="txtProjectType"> Description  <span class="text-danger">*</span></label>
                            <div class="form-group">
                                <textarea class="form-control LengthRemarks" id="categoryDesc" onkeypress="lettersDigitValidate(event)" rows="4" cols="4" name="categoryDesc" maxlength="200" targetid="MaxSize"></textarea>
                                <small class="text-danger d-block text-end mt-2">
                                    Maximum <span id="txtchar"><strong id="MaxSize">200</strong></span> characters allowed
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer lg__btn  justify-content-start">
                    <button type="button" class="btn btn-light-danger me-3" id="DynamicButton" onclick="reset()">Reset</button>
                    <button type="button" class="btn btn-primary" id="subaddData" onclick="Save_M_Project_Category_Master()"> Submit </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
         $('.form-control').bind('copy paste cut', function (e) {
            e.preventDefault();
           

        });
        $('#splayoutheader').text('Project Category');
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = decodeURIComponent(value);
            });
            return vars;
        }
        var id = getUrlVars()["strid"];
        if (id != undefined || id != null) {
            Edit_M_Project_Category_Master(decryptData(id));
        }
        Get_M_Project_Category_Master();
        $("#form").validate({
            rules: {
                categoryName: {
                    required: true
                },
                categoryDesc: {
                    required: true
                },
            },
            messages: {
                categoryName: {
                    required: "Please enter Project Category"
                },
                categoryDesc: {
                    required: "Please enter Description"
                },

            },

            highlight: function (element) {
                $(element).removeClass("is-valid")
                $(element).parent().addClass('error')
                $(element).addClass("is-invalid")
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
                $(element).removeClass("is-invalid");
                $(element).addClass("is-valid")
            }
        });

    });
    $(".checkbox").change(function () {
        var isChecked = $(this).prop("checked");
        $(".checkbox").prop("checked", $(this).prop("checked"));
    });

    $('#tblbody').on('change', '.checkbox', function () {
        const totalCheckboxes = $('.checkbox:visible:not(#flexCheckDefault)').length;
        const checkedCheckboxes = $('.checkbox:checked:visible:not(#flexCheckDefault)').length;
        // Update the header checkbox based on selection
        $('#flexCheckDefault').prop('checked', totalCheckboxes === checkedCheckboxes);
    });
    //------Description Count Start---
    $(document).ready(function () {
        // Function to update the character count
        function updateCharCount(textArea) {
            var maxLength = $(textArea).attr("maxlength"); // Get maxlength from textarea
            var currentLength = $(textArea).val().length; // Current text length
            var remaining = maxLength - currentLength; // Remaining characters

            var spanId = $(textArea).attr("targetid"); // Get target span ID
            $('#' + spanId).text(remaining); // Update the count in the span

            if (remaining < 0) {
                Swal.fire({
                    title: 'You have reached your maximum limit of characters allowed.',
                    text: '',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
                $(textArea).val($(textArea).val().substring(0, maxLength)); // Trim input
                $('#' + spanId).text(0); // Set to 0 when limit is exceeded
            }
        }

        // Keyup event to update character count in real-time
        $(document).on('keyup', '.LengthRemarks', function () {
            updateCharCount(this);
        });

        // Blur event to validate character count when user leaves the textarea
        $(document).on('blur', '.LengthRemarks', function () {
            updateCharCount(this);
        });
    });
    ///////-----Description Count End---
    function encryptData(data) {
        // Convert the integer data to a string
        var dataString = String(data);

        // Encrypt the data using CryptoJS
        var encryptedData = CryptoJS.AES.encrypt(JSON.stringify({ data: dataString }), 'secret_key').toString();

        return encryptedData;
    }
    function Get_M_Project_Category_Master() {
        $.ajax({
            type: 'Get',
            dataType: 'Json',
            contentType: 'application/json; charset=utf-8',
            data: {},
            url: "@Url.Action("Get_M_Project_Category_Master", "Master")",
            success: function (result) {
                var data1 = JSON.parse(result);
                if (data1.length > 0) {
                    $('#tbl.tbody').empty();
                    $.each(data1, function (i, data) {

                        var encryptedID = encryptData(data.categoryId);
                        var trows = "<tr>";
                        trows = trows + "<td><div class='form-check checkbox'><input class='form-check-input' type='checkbox' value='' id='flexCheckDefault'></div></td>";
                        trows = trows + "<td style='display:none'>" + data.categoryId + "</td>";
                        trows = trows + "<td>" + (i + 1) + "</td>";
                        trows = trows + "<td>" + data.categoryName + "</td>";
                        trows = trows + "<td>" + data.categoryDesc + "</td>";
                        //trows = trows + "<td>" + "<a class='btn-primary' href='/Master/M_Project_Category_Master?strid=" + encryptedID + "'>Edit</a>&nbsp;<button class='btn-danger' onclick='Delete_M_Project_Category_Master(" + data.categoryId + ")'>Delete</button>" + "</td>";
                        trows = trows + "<td><a href='#!'  class='btn btn-outline-primary btn-sm' onclick='Edit_M_Project_Category_Master(" + data.categoryId + ")' title='Edit'><i class='buidcoicon-edit'></i></a></td>";
                        trows = trows + "</tr>";
                        $('#tbl').append(trows);
                    });
                }
            },
            error: function (Message) {
                Swal.fire({
                    title: Message,
                    text: '',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }

    function Delete_M_Project_Category_Master() {
        if ($(".form-check-input:checked").length === 0) {
            Swal.fire({
                title: 'Please Select at least one checkbox.',
                text: '',
                icon: 'warning',
                confirmButtonText: 'OK'
            });
        } else {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var ids = '';
                    $('#tbl tbody tr').each(function (i) {
                        debugger
                        var row = $(this);
                        var checkboxValue = $(row).find('input[type="checkbox"]').prop('checked');
                        if (checkboxValue) {
                            ids += row.find('td:eq(1)').html() + ',';
                        }
                    });
                    debugger
                    ids = ids.slice(0, -1);
                    $.ajax({
                        type: "Get",
                        dataType: "json",
                        url: "@Url.Action("Delete_M_Project_Category_Master", "Master")",

                        data: { "Id": ids },
                        success: function (response) {
                            Swal.fire(
                                'Deleted!',
                                response.responseMessage,
                                response.responseText
                            ).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "@Url.Action("ProjectCategoryMaster", "Master")";
                                }
                                else if (result.isDenied) {
                            
                                    Swal.fire({
                                        title: 'Changes are not saved',
                                        text: '',
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            })
                        }
                    });

                }
                return false;
            })
        }

    }
    function Save_M_Project_Category_Master() {
        if ($("#form").valid()) {
            debugger
            var M_Project_Category_Master = {

                categoryId: $('#hdncategoryId').val(),
                categoryName: $.trim($("#categoryName").val()),
                categoryDesc: $.trim($("#categoryDesc").val()),

            };
            var categoryId = $('#hdncategoryId').val() || 0;
            let dynamicMsg;
            if (categoryId == 0) {
                 dynamicMsg = "Save";
            } else {
                dynamicMsg = "Update";
            }
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, ' + dynamicMsg +' it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("M_Project_Category_Master", "Master")",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: M_Project_Category_Master,
                        content: 'application/json;charset=utf-8',
                        dataType: "json",
                        success: function (result) {
                            debugger
                            Swal.fire({
                                icon: result.sucess ? 'success' : 'error',
                                title: result.responseText,
                                text: result.responseMessage,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.href = "@Url.Action("ProjectCategoryMaster", "Master")";
                                }
                            })
                        },
                        error: function (result) {
                            Swal.fire({
                                icon: 'error',
                                title: result.responseText,
                                text: result.responseMessage,
                            });
                        },
                    });
                }
                return false;
            })
        }
    }
    function Edit_M_Project_Category_Master(id) {
        debugger
        $.ajax({
            type: "Get",
            dataType: "json",
            url: '@Url.Action("GetByID_M_Project_Category_Master", "Master")',
            data: { "Id": id },
            success: function (Result) {
                debugger
                var data1 = JSON.parse(Result);
                $("#hdncategoryId").val(data1.categoryId);
                $('#categoryName').val(data1.categoryName);
                $('#categoryDesc').val(data1.categoryDesc);

                $("#categoryName").parent().removeClass('error');
                $("#categoryName").removeClass("is-invalid");
                $("#categoryName").addClass("is-valid");

                $("#categoryDesc").parent().removeClass('error');
                $("#categoryDesc").removeClass("is-invalid");
                $("#categoryDesc").addClass("is-valid");

                $("#form").validate().resetForm();
               
                $('.LengthRemarks').trigger('blur');
                $("#DynamicButton").text("Cancel");
                $("#addProjecttype").modal("show");
                $('#subaddData').text('Update');
                $("#DynamicButton").text('Cancel');
            },
            error: function (Message) {
                Swal.fire({
                    title: Message,
                    text: '',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }
    function Add_M_Project_Category_Master() {
        $("#hdncategoryId").val('');
        $('#categoryName').val('');
        $('#categoryDesc').val('');
        RemoveHeightLight();
        $("#addProjecttype").modal("show");
        $('#subaddData').text('Submit');
        $("#DynamicButton").text('Reset');
    }
    function reset() {
        if ($("#DynamicButton").text() == "Reset") {
            $("#form").validate().resetForm();
            
            $("#form").find(".is-valid, .is-invalid").removeClass("is-valid is-invalid");
            $("#form").find(".error").removeClass("error");
            $("#form")[0].reset();
              $('.LengthRemarks').trigger('blur');
        } else {
            $("#addProjecttype").modal("hide");
        }
    }
    function RemoveHeightLight() {
        $('.LengthRemarks').trigger('blur');
        $("#categoryName").removeClass("is-invalid");
        $("#categoryName").removeClass("is-valid");
        $("#categoryDesc").removeClass("is-invalid");
        $("#categoryDesc").removeClass("is-valid");
        $("#form").validate().resetForm(); 
        //$("#form").validate().resetForm();
        //$("#form").find(".error").remove();
        //$("#form").find(".is-invalid").removeClass("is-invalid");
    }
    function lettersDigitValidate(event) {
        var keyCode = event.which || event.keyCode;
        // Allowed key codes: a-z, A-Z, 1-9, ., , , :, -, (, ), \, /
        var allowedKeyCodes = [...Array(10).keys()].map(i => i + 48) // 0-9
            .concat([...Array(26).keys()].map(i => i + 65)) // A-Z
            .concat([...Array(26).keys()].map(i => i + 97)) // a-z
            .concat([32]); // ., ,, :, -, (, ), \, / space
        // Check if the pressed key is allowed
        if (allowedKeyCodes.indexOf(keyCode) === -1) {
            event.preventDefault();
        }
    }
</script>
