@*@model IEnumerable<DynamicForm.Domain.DFormDomain>*@
@model IEnumerable<BUIDCO.Domain.LinkAccess>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


@{
    //int count = 0;
    <li class="nav-item dshbord active" id="lidshbord">

        @if (@ViewBag.RoleId == "3")
        {
            <a class="nav-link dshbordlnk" href="../../Home/Dashboard2">
                <i class="icon-airplay"></i><span>Dashboard</span>
            </a>
        }
        @*else if (HttpContextAccessor.HttpContext.Session.GetInt32("_RoleId").ToString() == "2")
        {
            <a class="nav-link dshbordlnk" href="../../Home/Dashboard2">
                <i class="icon-airplay"></i><span>Dashboard</span>
            </a>
        }*@
        else
        {

            @*<a class="nav-link dshbordlnk" href="../../Home/DepartmentDashboard?DepId=@HttpContextAccessor.HttpContext.Session.GetInt32("_DeptId")">
                <i class="icon-airplay"></i><span>Dashboard</span>
            </a>*@

            <a class="sidebar-link sidebar-title" href="~/Dashboard/DashboardLanding"  title="Dashboard">
                <i class="buidcoicon-monitor"></i>
            </a>
        }

       
    </li>
    foreach (var link in Model.Select(x => new {x.nvchglinkname, x.vchiconclass, x.intglinkid, x.Aglinkid, x.Aplinkid }).Distinct().ToList())
    {
        <input type="hidden" id="hdnid" value="@link.Aglinkid" />
        var liclass = ""; var divclass = ""; int Gid = 0;
        if (link.Aglinkid == 0)
        {
            //if (TempData["glink"] != null)
            //{
            //    Gid = Convert.ToInt32(TempData["Glink"].ToString());
            //}
        }
        else
        {
            Gid = link.Aglinkid;
        }
        if (link.intglinkid == Gid)
        {
            //count = 1;
            liclass = "nav-item dropdown " + link.intglinkid + "&nbsp; active";
            //divclass = "dropdown-menu " + link.intglinkid + " show";
            divclass = "dropdown-menu " + link.intglinkid;

        }
        else
        {

            //liclass = "nav-item dropdown " + link.intglinkid + " show";
            //divclass = "dropdown-menu " + link.intglinkid + " show";
            liclass = "nav-item dropdown " + link.intglinkid;
            divclass = "dropdown-menu " + link.intglinkid;
        }

        <li class="@liclass">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="@link.vchiconclass"></i><span> @link.nvchglinkname</span></a>
            <div class="@divclass" aria-labelledby="navbarDropdownMenuLink">
                @foreach (var primarylist in Model.Where(w => w.nvchglinkname == link.nvchglinkname).Select((x, i) => new { Data = x, Index = i + 1 }))
                {
                    var ancclass = ""; int Pid = 0;
                    if (link.Aglinkid == 0)
                    {
                        //if (TempData["Plink"] != null)
                        //{
                        //    Pid = Convert.ToInt32(TempData["Plink"].ToString());
                        //}
                    }
                    else
                    { Pid = link.Aplinkid; }
                    if (primarylist.Data.intplinkid == Pid)
                    {
                        ancclass = "dropdown-item " + primarylist.Data.intplinkid + " active";
                        //ancclass = "dropdown-item " + primarylist.Data.intplinkid;
                    }
                    else
                    {
                        ancclass = "dropdown-item " + primarylist.Data.intplinkid;
                    }
                    var data = primarylist.Data.nvchplinkname.Split(" ");
                    // var first = "<i class='fa fa-long-arrow-right' aria-hidden='true'></i>";
                    //if (data.Length > 1)
                    //{
                    //    first = data[0].Substring(0, 1) + data[1].Substring(0, 1);
                    //}
                    //else
                    //{
                    //    first = data[0].Substring(0, 1);
                    //}
                    @if (@primarylist.Data.nvchplinkname.ToUpper().ToString().Trim() == "UPDATE PROGRESS")
                    {
                        if (@HttpContextAccessor.HttpContext.Session.GetInt32("_RoleId") == 3)
                        {

                            <a href="../Action/ViewComponentAction?Glink=@primarylist.Data.intglinkid&Plink=@primarylist.Data.intplinkid" class=" @ancclass"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span> @primarylist.Data.nvchplinkname </a>
                        }
                        else
                        {

                            <a href="/@primarylist.Data.vchfilename?Glink=@primarylist.Data.intglinkid&Plink=@primarylist.Data.intplinkid" class=" @ancclass"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span> @primarylist.Data.nvchplinkname </a>
                        }
                    }
                    else if (@primarylist.Data.nvchplinkname.ToUpper().ToString().Trim() == "COMPONENT CLOSURE")
                    {
                        if (@HttpContextAccessor.HttpContext.Session.GetInt32("_RoleId") == 3)
                        {

                            <a href="../ComponentClosure/CMOComponentClosure?Glink=@primarylist.Data.intglinkid&Plink=@primarylist.Data.intplinkid" class=" @ancclass"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span> @primarylist.Data.nvchplinkname </a>
                        }
                        else
                        {
                            <a href="/@primarylist.Data.vchfilename?Glink=@primarylist.Data.intglinkid&Plink=@primarylist.Data.intplinkid" class=" @ancclass"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span> @primarylist.Data.nvchplinkname </a>
                        }
                    }
                    else
                    {

                        <a href="/@primarylist.Data.vchfilename?Glink=@primarylist.Data.intglinkid&Plink=@primarylist.Data.intplinkid" class=" @ancclass"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span> @primarylist.Data.nvchplinkname </a>

                    }
                }
            </div>
        </li>
        //count = count + 1;
    }
    @if (@HttpContextAccessor.HttpContext.Session.GetString("_UserName") != "ChiefAdvisor")
    {



        <li class="nav-item dropdown other" id="lother">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i></i><span> Other Apps</span></a>
            <div class="dropdown-menu other" aria-labelledby="navbarDropdownMenuLink">
                <a href="@Configuration.GetSection("AnalyticUrl")["Url"]" target="_blank" class="dropdown-item"><span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span>Analytics</a>
                @if (@HttpContextAccessor.HttpContext.Session.GetInt32("_RoleId") != 2)
                {
                    <a href="https://sdbconsole.odisha.gov.in/Home/IntermediateLogin?UserName=@HttpContextAccessor.HttpContext.Session.GetString("_EncryptUserName")" class="dropdown-item" target="_blank"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span>Admin Console Portal  </a>
                }
                <a href="https://statedashboard.odisha.gov.in/" class="dropdown-item" target="_blank"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span>Citizen Portal  </a>
                @*<a href="https://sdg.csmpl.com/Login/IntermediateLogin?UserName=@HttpContextAccessor.HttpContext.Session.GetString("_EncryptUserName")" class="dropdown-item" target="_blank"> <span class="submenu"><i class='fa fa-long-arrow-right' aria-hidden='true'></i></span>SDG Portal  </a>*@
            </div>
        </li>
    }

    @*<li class="nav-item dshbord" id="analytics">
            <a class="nav-link dshbordanalytics" href="@Configuration.GetSection("AnalyticUrl")["Url"]" target="_blank">
                <i class="icon-airplay"></i><span>Analytics</span>
            </a>
        </li>*@
}
<script>
    $(document).ready(function () {
        var id = document.getElementById("hdnid").value;
        if (id > 0) {
            document.getElementById("lidshbord").classList.remove("active");
        }
    });</script>
