@model BUIDCO.Domain.AdminConsole.LevelMaster.LevelMasterModel
@{
    ViewData["Title"] = "Active Global Link";
}

@section Scripts {
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>



    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    $(document).ready(function () {
    @if (TempData["CommandStatus"] != null)
    {
        <script type="text/javascript">
          alert('@(TempData["CommandStatus"])');
        </script>
    }
    });
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>
    <script>
        function check_uncheck_checkbox(isChecked) {
            if (isChecked) {
                $('input[name="chkbox"]').each(function () {
                    this.checked = true;
                });
            }
            else {
                $('input[name="chkbox"]').each(function () {
                    this.checked = false;
                });
            }
        }
        function ClearField() {
            $('input[type=checkbox]').prop('checked', false);
        }

    </script>
    <script type="text/javascript" language="javascript">
        function validateForm() {
            if ($('#example1 :checked').length == 0) {
                alert("Please select Level ");
                return false;
            }
            else {
                return confirm('Are you sure you want to Mark As In-Active?');
            }
        }


    </script>

}

<p> Active Level Master </p>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a  asp-area="AdminConsole" asp-controller="LevelMaster" asp-action="AddLevelMaster" class="nav-item nav-link ">
                        Add Level Master
                    </a>
                    <a  asp-area="AdminConsole" asp-controller="LevelMaster" asp-action="ViewActiveLevel" class="nav-item nav-link active">
                        Active Level Master
                    </a>
                    <a  asp-area="AdminConsole" asp-controller="LevelMaster" asp-action="ViewInActiveLevel" class="nav-item nav-link">
                        InActive Level Master
                    </a>
                </ul>
                <div class="indicatorslist">
                    <p class="ml-2 text-danger">(*) Indicates mandatory </p>
                </div>
            </div>
            <div class="card-body">
                @if (Model.LevelList.Count != 0)
                {
                    <form id="frmActive" data-parsley-validate novalidate method="post" asp-action="MarkAsInactive"
                          asp-controller="LevelMaster"  asp-area="AdminConsole" asp-antiforgery="true" onsubmit="return validateForm()">
                        <div class="table-responsive">
                            <table data-toggle="table" class="table table-hover table-bordered table-padding" id="example1">

                                <thead>
                                    <tr>
                                        <th width="10px"><input type="checkbox" id="checkBoxAll" onclick="check_uncheck_checkbox(this.checked)" /></th>
                                        <th width="10px">SL#</th>
                                        <th width="100px">Hierarchy Name</th>
                                        <th width="100px">Parent Level Name</th>
                                        <th width="20px">Level Name</th>
                                        <th width="20px">Edit</th>

                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.LevelList.Count != 0)
                                    {
                                        @foreach (var level in Model.LevelList.Select((x, i) => new { Data = x, Index = i + 1 }))
                                        {

                                    <tr>
                                        <td><input type="checkbox" name="chkbox" value="@level.Data.INTLEVELID" /></td>
                                        <td>@level.Index</td>
                                        <td>@Html.DisplayFor(modelItem => level.Data.NVCHHIERARCHYNAME)</td>
                                        <td>@Html.DisplayFor(modelItem => level.Data.parentlevel)</td>
                                        <td>@Html.DisplayFor(modelItem => level.Data.NVCHLABEL)</td>
                                        <td><a  asp-area="AdminConsole" asp-controller="LevelMaster" asp-action="EditActiveLevel" asp-route-id="@level.Data.INTLEVELID">Edit</a></td>

                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align: center;font-size: x-large;font-weight: bolder;">
                                            <td colspan='6' align='center'> No records found!</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                            <button type="submit" name="submitButton" value="submit">Mark AS Inactive</button>
                            <button type="button" class="btn btn-info" onclick="return ClearField();"><span class="localize" data-key="Reset">Reset</span></button>
                        </div>
                    </form>
                }
                else

                {

                    <h4>Record Not Found</h4>
                }

                <div class="table-responsive">
                </div>
            </div>



        </div>

    </div>

</div>






